COSMOSDB_URI=<CCOSMOSDB_URI>
COSMOSDB_KEY=<COSMOSDB_KEY>
COSMOSDB_NAME=<COSMOSDB_NAME>
NODE_TLS_REJECT_UNAUTHORIZED=0
AZURE_ENABLE_STRICT_SSL=<true or false>

BlobStorageConnection=<STORAGE_CONNECTION_STRING>

IO_FUNCTIONS_APP_HOST=<IO_FUNCTIONS_APP_HOST>
IO_FUNCTIONS_APP_BASE_PATH=<IO_FUNCTIONS API BASE PATH>
SPID_LOG_QUEUE_NAME=<SPID_LOG_QUEUE_NAME>

MAILHOG_HOST=<MAILHOG_UI_HOST>
MAILHOG_PORT=<MAILHOG_UI_PORT>
MAILHOG_API_ENDPOINT=api/v2/search