COSMOSDB_URI=<CCOSMOSDB_URI>
COSMOSDB_KEY=<COSMOSDB_KEY>
COSMOSDB_NAME=<COSMOSDB_NAME>

NODE_TLS_REJECT_UNAUTHORIZED=0
AZURE_ENABLE_STRICT_SSL=<true or false>

StorageConnectionString=<STORAGE_CONNECTION_STRING>

IO_FUNCTIONS_APP_HOST=<IO_FUNCTIONS_APP_HOST>
IO_FUNCTIONS_APP_BASE_PATH=<IO_FUNCTIONS API BASE PATH>
SPID_LOG_QUEUE_NAME=<SPID_LOG_QUEUE_NAME>
