COSMOSDB_URI=<CCOSMOSDB_URI>
COSMOSDB_KEY=<COSMOSDB_KEY>
COSMOSDB_NAME=<COSMOSDB_NAME>

NODE_TLS_REJECT_UNAUTHORIZED=0
AZURE_ENABLE_STRICT_SSL=<true or false>

StorageConnectionString=<STORAGE_CONNECTION_STRING>

IO_FUNCTIONS_APP_HOST=http://localhost:7001
IO_FUNCTIONS_APP_BASE_PATH=/api/v1
SPID_LOG_QUEUE_NAME=spidmsgitems
